<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="bg-zinc-900 container mx-auto px-4 py-10 w-full min-h-screen max-w-screen-sm border border-zinc-800 flex flex-col items-center"
    >
      <h1 class="text-4xl mb-6">Login Account :</h1>

      <form method="post" action="/login" class="flex flex-col gap-2 w-80">
        <input
          required
          name="email"
          type="email"
          placeholder="Email"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />
        <input
          required
          name="password"
          type="password"
          placeholder="Password"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />
        <div class="flex justify-end">
          <input
            type="submit"
            value="Login"
            class="bg-blue-500 hover:bg-blue-600 px-4 py-2 w-fit rounded-md mt-1 font-semibold cursor-pointer"
          />
        </div>
      </form>
    </div>

    <script src="/scripts/script.js"></script>
  </body>
</html>
