<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="bg-zinc-900 container mx-auto px-4 py-10 w-full min-h-screen max-w-screen-sm flex flex-col items-center border border-zinc-800"
    >
      <h1 class="text-4xl mb-6">Sign Up :</h1>

      <form
        method="post"
        action="/signup"
        enctype="multipart/form-data"
        class="flex flex-col gap-2 w-80"
      >
        <input
          required
          name="name"
          type="text"
          placeholder="Name"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />
        <input
          required
          name="username"
          type="text"
          placeholder="Username"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />
        <input
          required
          name="email"
          type="email"
          placeholder="Email"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />
        <input
          required
          name="password"
          type="password"
          placeholder="Password"
          class="outline-none bg-transparent px-3 py-1 rounded-md border border-zinc-400"
        />

        <div class="flex justify-between items-center mt-2">
          <label
            id="imageUploadLabel"
            for="imageUpload"
            class="border text-blue-400 hover:text-blue-500 border-blue-400 hover:border-blue-500 px-4 py-[7px] w-fit rounded-md cursor-pointer"
            >Upload Profile Picture</label
          >
          <input
            id="imageUpload"
            type="file"
            accept="image/*"
            name="image"
            class="hidden outline-none bg-transparent cursor-pointer"
          />
          <input
            type="submit"
            value="Sign Up"
            class="bg-green-600 hover:bg-green-700 px-4 py-2 w-fit rounded-md font-semibold cursor-pointer"
          />
        </div>

        <a href="/login" class="block mx-auto mt-3 text-zinc-400"
          >Already a User ?</a
        >
      </form>
    </div>

    <script src="/scripts/script.js"></script>
    <script src="/scripts/imageLabel.js"></script>
  </body>
</html>
