body {
  background-color: rgb(24 24 27);
  color: white;
  font-family: "Gilroy";
  /* cursor: default; */
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(24 24 27);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
